@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


body {
    font-family: Kurale, sans-serif;
    display: flex;
    flex-flow: column;
    background: linear-gradient(153deg, rgba(108,245,133,1) 31%, rgba(81,230,40,1) 100%, rgba(2,0,36,1) 100%);  
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}
